<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.tyrion.plugin.imgutil" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>ImageUtil</name>
	<js-module name="ImageUtil" src="www/ImageUtil.js">
		<clobbers target="cordova.plugins.ImageUtil" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="ImageUtil">
				<param name="android-package" value="com.tyrion.plugin.imgutil.ImageUtil" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml" />
		<source-file src="src/android/ImageUtil.java" target-dir="src/com/tyrion/plugin/imgutil" />
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="ImageUtil">
				<param name="ios-package" value="ImageUtil" />
			</feature>
		</config-file>
		<source-file src="src/ios/ImageUtil.m" />
	</platform>
</plugin>